body{
   background: fixed;
    background-image: url(./346533-PAXKXP-275.jpg);
}
.fo{
    height: 700px;
    width: 600px;
    text-align: center;
    border: 5px solid black;
    color: black;
    background-color: rgb(113, 143, 143);
    margin-left: 450px;
    border-radius: 20px;
    position: relative;
}