 body{
    background: fixed;
    background-image: url(./346533-PAXKXP-275.jpg);  
    
}
.menu{
    /* position: fixed; */
    /* position: sticky; */
    display: flex;
    height: 100px;
    width: 100%;
    color: white;
    background-color: rgb(113, 143, 143);
    justify-content: space-evenly;
    border-radius: 50px;

}
.an{
    /* text-align: center; */
    text-decoration: none;
    font-size: larger;
    margin-top: 40px;
}
 img{
    height: 100px;
    width: 100px;
   margin-left: 50px;
   margin-top: 40px;
} 
.main{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 20px;
}
.a{
    height: 250px;
    width: 250px;
    background-color: rgb(113, 143, 143);
   border: 3px solid black;
   border-radius: 20px;
   box-shadow: 10px 10px 3px rgb(170, 81, 81);
   
}
.b{
    height: 250px;
    width: 250px;
    background-color: rgb(113, 143, 143);
    border: 3px solid black;
   border-radius: 20px;
   box-shadow: 10px 10px 3px rgb(170, 81, 81);
}
.c{
    height: 250px;
    width: 250px;
    background-color: rgb(113, 143, 143);
    border: 3px solid black;
   border-radius: 20px;
   box-shadow: 10px 10px 3px rgb(170, 81, 81);
}
.d{
    height: 250px;
    width: 250px;
    background-color: rgb(113, 143, 143);
    border: 3px solid black;
   border-radius: 20px;
   box-shadow: 10px 10px 3px rgb(170, 81, 81);
}
.main2{
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 25px;
   
}
.e{
    height: 50px;
    width: 300px;
    background-color: rgb(113, 143, 143);
   border: 3px solid black;
   border-radius: 20px;
   box-shadow: 10px 10px 3px rgb(170, 81, 81);
   
}
.f{
    height: 50px;
    width: 300px;
    background-color: rgb(113, 143, 143);
    border: 3px solid black;
   border-radius: 20px;
   box-shadow: 10px 10px 3px rgb(170, 81, 81);
}
.g{
    height: 50px;
    width: 300px;
    background-color: rgb(113, 143, 143);
    border: 3px solid black;
   border-radius: 20px;
   box-shadow: 10px 10px 3px rgb(170, 81, 81);
}
.h{
    height: 50px;
    width: 300px;
    background-color: rgb(113, 143, 143);
    border: 3px solid black;
   border-radius: 20px;
   box-shadow: 10px 10px 3px rgb(170, 81, 81);
}
a:hover{
   
   color: rgb(89, 94, 182);
   transition: 1.5s;
}
.la{
    height: 600px;
    width: 500px;
    margin-left: 30px;
    text-align: center;
    margin-left: 500px;
}
.main3{
   position: relative;
   margin-left: 450px;
   
}
.box1{
    position: absolute;
    height: 200px;
    width: 200px;
    background-color: rgb(113, 143, 143);
    border: 3px solid black;
    margin-left: 30px;
    border-radius: 20pc;
    padding: 20px;
    background-image: linear-gradient(rgb(78, 70, 70),rgb(176, 176, 105));
    
}
.box2{
    position: absolute;
    height: 200px;
    width: 200px;
    background-color: rgb(113, 143, 143);
    border: 3px solid black;
    margin: 250px;
    border-radius: 20pc;
    left: 30px;
    padding: 20px;
    background-image: linear-gradient(rgb(78, 70, 70),rgb(176, 176, 105));
    
}
.box3{
    position: absolute;
    height: 200px;
    width: 200px;
    background-color: rgb(113, 143, 143);
    border: 3px solid black;
    margin-top: 800px;
    border-radius: 20pc;
    padding: 20px;
    left: 300px;
    right: 500px;
    background-image: linear-gradient(rgb(78, 70, 70),rgb(176, 176, 105));
} 
.box4{
    position: absolute;
    height: 200px;
    width: 200px;
    background-color: rgb(113, 143, 143);
    border: 3px solid black;
    margin-top: 500px;
    border-radius: 20pc;
   padding: 20px;
   left: 50px;
   background-image: linear-gradient(rgb(78, 70, 70),rgb(176, 176, 105));
   
}  
.main4{
    position: relative;
    margin-left: 900px;
}
.main5{
position: relative;
}
.main6{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1100px;
}
.main7{
    display: flex;
    justify-content: space-evenly;
}
.book1{
    height: 350px;
    width: 350px;
    background-color: rgb(113, 143, 143);
    color: black;
    border-radius: 20px;
}
.book2{
    height: 350px;
    width: 350px;
    background-color: rgb(113, 143, 143);
    color: black;
    border-radius: 20px;
}
.book3{
    height: 350px;
    width: 350px;
    background-color: rgb(113, 143, 143);
    color: black;
    border-radius: 20px;
}
.book4{
    height: 350px;
    width: 350px;
    background-color: rgb(113, 143, 143);
    color: black;
    border-radius: 20px;

}
.main8{
    height: 300px;
    width: 300px;
    margin-right: 100px;
    float: right;
}
.main9{
    height: 300px;
    width: 100%;
    margin-top: 50px;
    text-align: center;
    
}
p{
    clear: left;
}
.main10{
    height: 300px;
    width: 300px;
    margin-right: 100px;
    float: left;
}
.main11{
    height: 300px;
    width: 100%;
    margin-top: 50px;
    text-align: center;
    
}
p1{
    clear: right;
}
footer{
    position: absolute;
    height: 600px;
    width: 100%;
}
.foo{
    position: absolute;
    margin-top: 100px;
    color: white;
    left: 50px;
}
.foo1{
    position: absolute;
   display: flex;
   left: 400px;
  
}
.foo2{
   margin-top: 200px;
    height: 100px;
    width: 600px;
    position: absolute; 
    left: 400px;
}
.foo3{
    position: absolute;
    display: flex;
    margin: 300px;
    left: 200px;
}
.img1{
    height: 400px;
    justify-content: space-evenly;
    display: flex;
    transform: skew(35deg);
    animation: ring 2s linear alternate infinite;
}
@keyframes ring{
    0%{
        transform: skewX(0deg); margin-left: 50px;
    }
    50%{
        transform: skewX(50deg); margin-left: 100px;
    }

}